name: Despliegue a PROD

on:
    pull_request:
        branches:
            - main

jobs:
    greet:
        runs-on: ubuntu-latest

        steps:
            - name: Send greeting
              run: echo "Hello World PROD"