name: Despliegue a QA

on:
    pull_request:
        branches:
            - qa

jobs:
    greet:
        runs-on: ubuntu-latest

        steps:
            - name: Send greeting
              run: echo "Hello World QA"